.product-card {
  background: #f9f9f9;
  padding: 18px;
  border-radius: 12px;
  transition: 0.3s ease;
  cursor: pointer;
  position: relative;
}

.product-card:hover {
  transform: translateY(-4px);
}

/* Image + Hover effect */
.product-image {
  position: relative;
  width: 100%;
}

.product-image img {
  width: 100%;
  border-radius: 10px;
}

/* Hover overlay */
.product-hover {
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.4);
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .3s ease;
  border-radius: 10px;
}

.product-card:hover .product-hover {
  opacity: 1;
}

.add-btn {
  padding: 10px 20px;
  background: white;
  color: black;
  border-radius: 30px;
  border: none;
  font-weight: 600;
  cursor: pointer;
  transition: .3s;
}

.add-btn:hover {
  background: black;
  color: white;
}

.product-name {
  margin: 10px 0 5px;
  font-size: 17px;
  font-weight: 600;
}

.product-rating {
  font-size: 14px;
  color: #f4b400;
}

.product-price {
  margin-top: 6px;
  font-size: 16px;
  font-weight: 600;
}

.product-price .old {
  margin-left: 8px;
  text-decoration: line-through;
  color: #777;
}

.product-price .discount {
  margin-left: 8px;
  color: #ff4444;
  font-size: 14px;
}
